//
// Variables
// =================================================

// Layout sizes
// --------------------------------------------------
$content-desktop                = 800px
$content-desktop-large          = 1000px
$content-desktop-largest        = 1200px

// Font sizes
// $font-size-headings-base    = 30px
